useDynLib("QICD", .registration = TRUE)
import(stats)
import(parallel)
importFrom("graphics", "lines", "plot")
export(QBIC)
export(QICD)
export(QICD.BIC)
export(QICD.cv)
export(allzero)
export(checkloss)
